body {
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #F1F1F1;
}

figcaption {
	font-size: 13px;
}

.generalintro {
	margin-top: 30px;
}

.introbutton {
	background-color:transparent;
	border:4px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 15px;
	text-decoration:none;
	text-shadow: 0 0 15px #000000;
}
.introbutton:hover {
	background-color:white;
	text-decoration: none;
	color: #ffffff;
}

.introbutton:visited {
	text-decoration: none;
	color: #ffffff;
}

.blackbutton {
	background-color:transparent;
	border:4px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.blackbutton:hover {
	background-color:#753087;
	text-decoration: none;
	color: #000000;
}

.blackbutton:visited {
	text-decoration: none;
	color: #000000;
}

.purplebutton {
	border:4px solid #753087;
	display:inline-block;
	cursor:pointer;
	color:#753087;
	font-family:Arial;
	font-size:17px;
	padding:8px 15px;
	text-decoration:none;
}
.purplebutton:hover {
	text-decoration: underline;
}

.purplebutton:visited {
	text-decoration: none;
	color: #753087;
}

.redtext {
	color: #CC0000; 
	font-weight: 700;
	font-family: 'Arvo';

}

.byline {
	color: #D3D3D3;
	font-style: italic;
}

.text-subhead {
	font-family: 'Arvo', serif;
	font-size: 25px;
	color: #753087;
	text-align: center;
}

.quad-photo {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 10px;
}

.interim {
	color: #753087;
	font-weight: bold;
}

.interim:hover {
	color: #753087;
}

.updates a {
	color: #753087;
}

.updates a:hover {
	color: #753087;
}

@media screen and (max-width: 800px) {
	.bigimage {
	background: url('https://s3.amazonaws.com/media.bsd/31882_newpresident2017_031f.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
	}

	.introtext {
		font-family: 'Arvo';
		font-weight: 700;
		font-size: 60px;
		color: white;
		letter-spacing: -1px;
		text-shadow: 0 0 15px #000000;
		line-height: 55px;
	}

	.subhead {
		font-family: 'Arvo';
		font-size: 25px;
		color: white;
		text-shadow: 0 0 15px #000000;
	}

	.intro {
	margin-top: 15%; line-height: 40px
}
	.infobuttons {
		margin-top: 400px;
	}
	.content-push {
		margin-top: 100px;
	}

	.headline {
	color: black;
	font-weight: 700;
	font-family: 'Arvo';
	font-size: 45px;
	letter-spacing: -1px;
	line-height: 50px;
}

	.deck {
	font-family: 'Arvo', serif;
	font-weight: 700;
	padding-top: 20px;
	}

	.photo-left {
	float: left;
	width: 100%;
	}

	.photo-left img {
		width: 100%;
	}

	.photo-right {
		float: right;
		width: 100%;
	}

	.photo-right img {
		width: 100%;
	}

	.photo-right figcaption {
		padding: 0px;
	}

	.quadtalk {
		margin-bottom: 20px;
	}

}

@media screen and (min-width: 801px) {
	.bigimage { 
    background: url('https://s3.amazonaws.com/media.bsd/31910_headernewnewpresident2017_036o.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
    }

	.introtext {
		font-family: 'Arvo';
		font-weight: 700;
		font-size: 130px;
		color: white;
		letter-spacing: -4px;
		text-shadow: 0 0 15px #000000;
	}

	.subhead {
		font-family: 'Arvo';
		font-size: 60px;
		color: white;
		text-shadow: 0 0 15px #000000;
	}

	.intro {
	margin-top: 50%; line-height: 65px
}

	.content-push {
		margin-top: 200px;
	}

	.headline {
	color: black;
	font-weight: 700;
	font-family: 'Arvo';
	font-size: 60px;
	letter-spacing: -1px;
	line-height: 70px;
}

	.deck {
	font-family: 'Arvo', serif;
	font-weight: 700;
	padding-top: 20px;
	}

	.photo-left {
	float: left;
	width: 50%;
	}

	.photo-left img {
		width: 100%;
		padding-right: 15px;
	}

	.photo-right {
		float: right;
		width: 50%;
	}

	.photo-right img {
		width: 100%;
		padding-left: 15px;
	}

	.photo-right figcaption {
		padding-left: 15px;
	}

	.quadtalk-row {
		margin-bottom: 25px;
	}

}

@media screen and (max-width: 992px) {
	#g-PresidentTimeline-Artboard_1 {
		display: none;
	}

	#g-PresidentTimeline-Artboard_4 {
		display: none;
	}

	#g-PresidentTimeline-Artboard_2 {
		display: block;
	}

}

@media screen and (min-width: 993px) and (max-width: 1199px) {
	#g-PresidentTimeline-Artboard_1 {
		display: block;
	}

	#g-PresidentTimeline-Artboard_4 {
		display: none;
	}

	#g-PresidentTimeline-Artboard_2 {
		display: none;
	}

}

@media screen and (min-width: 1200px) {
	#g-PresidentTimeline-Artboard_1 {
		display: none;
	}

	#g-PresidentTimeline-Artboard_4 {
		display: block;
	}

	#g-PresidentTimeline-Artboard_2 {
		display: none;
	}

}


