body {
	margin-top: 50px;
}

.generalintro {
	margin-top: 30px;
}

a {
	color:white;
}

a:hover {
	text-decoration:none;
	color:white;
}

a:visited {
	text-decoration: none;
	color:white;
}


#mearns {
  background: 
    /* top, */ 
    linear-gradient(
      rgba(11, 54, 83, 0.45), 
      rgba(11, 54, 83, 0.45)
    ),
    /* bottom, image */
    url('https://s3.amazonaws.com/media.bsd/35282_yirmearnso.jpg');
    position:relative;
}

#mearns:hover {
	background:url('https://s3.amazonaws.com/media.bsd/35282_yirmearnso.jpg');
}

#mearns a:hover {
	background-color:rgb(11, 54, 83);
}

#sutton {
  background: 
    /* top, */ 
    linear-gradient(
      rgba(238, 131, 49, 0.45), 
      rgba(238, 131, 49, 0.45)
    ),
    /* bottom, image */
    url('https://s3.amazonaws.com/media.bsd/35285_yirsuttonfostero.jpg');
    position:relative;
}

#sutton:hover {
	background:url('https://s3.amazonaws.com/media.bsd/35285_yirsuttonfostero.jpg');
}

#sutton a:hover {
	background-color:rgb(238, 131, 49);
}

#mvb {
  background: 
    /* top, */ 
    linear-gradient(
      rgba(190, 36, 45, 0.45), 
      rgba(190, 36, 45, 0.45)
    ),
    /* bottom, image */
    url('https://s3.amazonaws.com/media.bsd/35288_yirmensvbo.jpg');
    position:relative;
}

#mvb:hover {
	background:url('https://s3.amazonaws.com/media.bsd/35288_yirmensvbo.jpg');
}

#mvb a:hover {
	background-color:rgb(190, 36, 45);
}

#wishes {
  background: 
    /* top, */ 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url('https://s3.amazonaws.com/media.bsd/35292_gradwisheso.png');
    position:relative;
}

#wishes:hover {
	background:url('https://s3.amazonaws.com/media.bsd/35292_gradwisheso.png');
}

#wishes a:hover {
	background-color:rgb(0, 0, 0);
}

#lafollette {
  background: 
    /* top, */ 
    linear-gradient(
      rgba(11, 54, 83, 0.45), 
      rgba(11, 54, 83, 0.45)
    ),
    /* bottom, image */
    url('https://s3.amazonaws.com/media.bsd/35298_yirlafolletteo.png');
    position:relative;
}

#lafollette:hover {
	background:url('https://s3.amazonaws.com/media.bsd/35298_yirlafolletteo.png');
}

#lafollette a:hover {
	background-color:rgb(11, 54, 83);
}

#grande {
  background: 
    /* top, */ 
    linear-gradient(
      rgba(190, 36, 45, 0.45), 
      rgba(190, 36, 45, 0.45)
    ),
    /* bottom, image */
    url('https://s3.amazonaws.com/media.bsd/35284_yirpointegrandeo.jpg');
    position:relative;
}

#grande:hover {
	background:url('https://s3.amazonaws.com/media.bsd/35284_yirpointegrandeo.jpg');
}

#grande a:hover {
	background-color:rgb(190, 36, 45);
}

#cats {
  background: 
    /* top, */ 
    linear-gradient(
      rgba(238, 131, 49, 0.45), 
      rgba(238, 131, 49, 0.45)
    ),
    /* bottom, image */
    url('https://s3.amazonaws.com/media.bsd/35286_yirtwocatso.jpg');
    position:relative;
}

#cats:hover {
	background:url('https://s3.amazonaws.com/media.bsd/35286_yirtwocatso.jpg');
}

#cats a:hover {
	background-color:rgb(238, 131, 49);
}

#goodwill {
  background: 
    /* top, */ 
    linear-gradient(
      rgba(11, 54, 83, 0.45), 
      rgba(11, 54, 83, 0.45)
    ),
    /* bottom, image */
    url('https://s3.amazonaws.com/media.bsd/35283_yirgoodwillo.JPG');
    position:relative;
}

#goodwill:hover {
	background:url('https://s3.amazonaws.com/media.bsd/35283_yirgoodwillo.JPG');
}

#goodwill a:hover {
	background-color:rgb(11, 54, 83);
}

#baseball {
  background: 
    /* top, */ 
    linear-gradient(
      rgba(190, 36, 45, 0.45), 
      rgba(190, 36, 45, 0.45)
    ),
    /* bottom, image */
    url('https://s3.amazonaws.com/media.bsd/35281_yirkennedyo.JPG');
    position:relative;
}

#baseball:hover {
	background:url('https://s3.amazonaws.com/media.bsd/35281_yirkennedyo.JPG');
}

#baseball a:hover {
	background-color:rgb(190, 36, 45);
}

#preschool {
  background: 
    /* top, */ 
    linear-gradient(
      rgba(238, 131, 49, 0.45), 
      rgba(238, 131, 49, 0.45)
    ),
    /* bottom, image */
    url('https://s3.amazonaws.com/media.bsd/35287_yirpreschoolo.jpg');
    position:relative;
}

#preschool:hover {
	background:url('https://s3.amazonaws.com/media.bsd/35287_yirpreschoolo.jpg');
}

#preschool a:hover {
	background-color:rgb(238, 131, 49);
}

#memories {
  background: 
    /* top, */ 
    linear-gradient(
      rgba(11, 54, 83, 0.45), 
      rgba(11, 54, 83, 0.45)
    ),
    /* bottom, image */
    url('https://s3.amazonaws.com/media.bsd/35280_yirmemoriesf.jpg');
    position:relative;
}

#memories:hover {
	background:url('https://s3.amazonaws.com/media.bsd/35280_yirmemoriesf.jpg');
}

#memories a:hover {
	background-color:rgb(11, 54, 83);
}

#peyton {
  background: 
    /* top, */ 
    linear-gradient(
      rgba(190, 36, 45, 0.45), 
      rgba(190, 36, 45, 0.45)
    ),
    /* bottom, image */
    url('https://s3.amazonaws.com/media.bsd/35279_yirgollhofero.JPG');
    position:relative;
}

#peyton:hover {
	background:url('https://s3.amazonaws.com/media.bsd/35279_yirgollhofero.JPG');
}

#peyton a:hover {
	background-color:rgb(190, 36, 45);
}

/*MOBILE*/
@media screen and (max-width: 800px) {

	.introtext {
		font-family: 'Arvo';
		font-weight: 700;
		font-size: 60px;
		color: white;
		letter-spacing: -1px;
		text-shadow: 0 0 15px #000000;
		line-height: 55px;
	}

	.intro {
	margin-top: 15%; line-height: 40px
}
	.infobuttons {
		margin-top: 400px;
	}
	.content-push {
		margin-top: 100px;
	}

	.headline {
	font-weight: 400;
	font-family: 'Playfair Display';
	font-size: 60px;
	letter-spacing: -1px;
	padding:10px;
	line-height:60px;
}

	.deck {
	font-family: 'Arvo', serif;
	font-weight: 700;
	padding-top: 20px;
	}

	.photo-left {
	float: left;
	width: 100%;
	}

	.photo-left img {
		width: 100%;
	}

	.photo-right {
		float: right;
		width: 100%;
	}

	.photo-right img {
		width: 100%;
	}

	.photo-right figcaption {
		padding: 0px;
	}

	.quadtalk {
		margin-bottom: 20px;
	}

	.imagetext {
		font-family: 'Playfair Display';
		color: white;
		font-size: 32px;
		padding:20px;
		position:absolute;
		bottom: 0;
		right: 0;
	}

	.subhead {
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 20px;
		margin-bottom: 30px;
		margin-left:10px;
	}

	.adspace {
		margin:10px;
	}


}



/*DESKTOP*/
@media screen and (min-width: 801px) {
	.bigimage { 
    background: url('https://s3.amazonaws.com/media.bsd/31910_headernewnewpresident2017_036o.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
    }

	.introtext {
		font-family: 'Arvo';
		font-weight: 700;
		font-size: 130px;
		color: white;
		letter-spacing: -4px;
		text-shadow: 0 0 15px #000000;
	}

	.intro {
	margin-top: 50%; line-height: 65px
}

	.content-push {
		margin-top: 200px;
	}

	.headline {
	color: black;
	font-weight: 400;
	font-family: 'Playfair Display';
	font-size: 88px;
	letter-spacing: -3px;
	padding-top: 30px;
	margin-bottom: 20px;
}

	.deck {
	font-family: 'Arvo', serif;
	font-weight: 700;
	padding-top: 20px;
	}

	.photo-left {
	float: left;
	width: 50%;
	}

	.photo-left img {
		width: 100%;
		padding-right: 15px;
	}

	.photo-right {
		float: right;
		width: 50%;
	}

	.photo-right img {
		width: 100%;
		padding-left: 15px;
	}

	.photo-right figcaption {
		padding-left: 15px;
	}

	.quadtalk-row {
		margin-bottom: 25px;
	}

	.imagetext {
		font-family: 'Playfair Display';
		color: white;
		font-size: 40px;
		padding-left: 5px;
		position:absolute;
		bottom: 0;
/*		right: 0;
*/	}

	.subhead {
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 30px;
		margin-bottom: 80px;
	}

}

