.background{
    background-color: #000;

}


body {
    background-color: #000;
}



nav {
 margin-bottom: -40px; 
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: #fff;
}


.navbarbrand {
    color: #fff;
}



/* Header Parallax Element Style*/ 
.paral {
min-height: 700px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
    margin-top: 15px;
}
 
/* Paragrapgh for Parallax Section */ 
.paral p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
font-size: 15px;
color:#f5f5f5;
text-align: left;
line-height: 20px;
    padding-right: 70%;
}


h3 {
        font-family: 'Playfair Display';
    font-weight: 800;
font-size: 25px; 
color: #fff;
}



 
/* Heading for Parallax Section */ 
.paral h1 {
    font-family: 'Playfair Display';
    font-weight: 800;
color: rgba(255, 255, 255);
font-size: 100px;
text-align: left;
padding-top: 60px;
line-height: 100px;
}


h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: right;
    line-height: 16px;

}


h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: right;
    padding-left: 70%;
    padding-top: 60%;
}


#topnav {
    background-color: #000;
}

 
/* Image for Parallax Section */ 

.paralsechead {
background-image: url(img/Ki-7.jpg);

}

.paralsec {
background-color: #000;
min-height: 400px;

}
 
.paralsec1 {
background-image: url("img/Ki-9.jpg");}
 
.paralsecchildhood {
background-image: url("img/Ki-25.jpg");
}

.paralsecmap {
    background-color: #000;
background-image: url("img/mapol-01.svg");
}


.paralsecpreg {
    background-color: #000;
background-image: url("img/Ki-13.jpg");
}

.paralsecbirth {
background-image: url("img/Ki-22.a.jpg");
}


.paralseccharts {
    background-color: #000;
background-image: url("img/singleparentscharts-02.svg");
}


.paralsecdad {
background-image: url("img/Ki-20.jpg");
}

.paralsecki {
background-image: url("img/Ki-16.jpg");
}


.paralseccollege {
background-image: url("img/Ki-12.jpg");
}


.paralseccollegegraphic {
    background-color: #000;
background-image: url("img/collegestats-03.svg");
}

.paralsecclass {
background-image: url("img/Ki-2.jpg");
}

.paralseckiandlucien {
background-image: url("img/Ki-1.jpg");
}


.paralsecfamily {
background-image: url("img/Ki-15.jpg");
}

.paralsecsister {
background-image: url("img/Ki-24.jpg");
}

.paralsechereandnow {
background-image: url("img/Ki-6.jpg");
}

.paralsecgraduategraphic {
    background-color: #000;
background-image: url("img/collegegradcharts-04.svg");
}

.paralsecbecca10 {
background-image: url("img/Ki-10.jpg");
}

.paralsecbecca11 {
background-image: url("img/Ki-11.jpg");
}

.paralsecbecca3 {
background-image: url("img/ki-3.jpg");
}
 

.paralsecbecca8 {
background-image: url("img/Ki-8.jpg");
}

.paralsecbecca4 {
background-image: url("img/Ki-4.jpg");
}

.paralsecbecca5 {
background-image: url("img/Ki-5.jpg");
}

a:link {
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #88A097;
    text-decoration: none;
}

a:visited {
    color: #88A097;
    text-decoration: none;
}

.footer {
    color: #fff;
    font-size: .6em;
    
}


 
/* Add more images for more sections */
 
/* Remove Bottom Margin from Jumbotron */
.jumbotron{margin-bottom: 0;}
 
/